.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0px var(--default-layout-horizontal-spacer) 0px 0px;
    margin-top: var(--default-layout-header-height);
    display: flex;
}

.content {
    flex: 1;
}
